body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: black;
    color: rgb(67, 195, 242);
    font-size: medium;
}   
.Error_box{    
    background-color: rgb(46, 45, 45);
    align-self: center;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    margin-top: 3%;
    padding: 5%;
    padding-left: 5%;
    border-color: rgb(67, 195, 242);
    border-radius: 15px;
    box-shadow: 0px 0px 5px rgb(255, 255, 255);
    text-align: center;
    word-spacing: normal;
    font-size: x-large;
    font-weight:100;
    font-family: Arial, Helvetica, sans-serif;
    color:red;
}
#Try_again{
    align-self: center;
    height: 40px;
    background-color: rgb(52, 155, 193);
    box-shadow: 0px 0px 2px rgb(255, 255, 255);
    border-width: 2px;
    font-size: large;
    font-weight: bolder;
    color: white;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 20px;
}
#Try_again:hover{
    background-color: rgb(39, 113, 140);
    box-shadow: 0px 0px 5px rgb(255, 255, 255);
}